<a href="https://colab.research.google.com/github/MoonlightO2/Vehicle-Leasing-Data/blob/main/Car_Lease_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Car Leasing : Data Analysis of Used Cars**
***Article***: https://medium.com/@ramananrohit4/car-leasing-data-analysis-of-used-cars-46136c21e40c

***Dataset***: https://data.world/data-society/used-cars-data

### **Importing Libraries and Data**

In [42]:
import pandas as pd
import numpy as np
import re
import gc

In [43]:
file = '/content/drive/MyDrive/Projects/Portfolio/Vehicles/Car leasing/Car Lease data.csv'

In [44]:
data = pd.read_csv('https://query.data.world/s/xmd6vagrr4ha5nzc5z675rut7l374x?dws=00000',encoding="Latin-1")
print('Shape: ', data.shape, '\n')
print('Columns: ', data.columns.tolist(), '\n')
data.head()

Shape:  (371528, 20)

Columns:  ['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen']

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [45]:
for column_name, values in data.items():
    unique_values = set(values)
    num_unique_values = len(unique_values)

    print(f"Column: {column_name}")
    print(f"Unique Values: {unique_values}")
    print(f"Number of Unique Values: {num_unique_values}\n")

Column: dateCrawled

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Column: vehicleType
Unique Values: {nan, 'kleinwagen', 'suv', 'bus', 'limousine', 'andere', 'cabrio', 'kombi', 'coupe'}
Number of Unique Values: 9

Column: yearOfRegistration
Unique Values: {4100, 8200, 9229, 1039, 2066, 6200, 1946, 1600, 1602, 1111, 1952, 7777, 3700, 7800, 3200, 2200, 1688, 7100, 2222, 1200, 5300, 8888, 4800, 3500, 1234, 3800, 1253, 1255, 9450, 2800, 2290, 3000, 8455, 1800, 5900, 9996, 9999, 1300, 5911, 2500, 9000, 5555, 8500, 8000, 7500, 2900, 7000, 6500, 6000, 1910, 1911, 1400, 1915, 1919, 1920, 1923, 1925, 1927, 5000, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 4500, 1947, 1948, 1949, 1950, 1951, 4000, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 1500, 2019, 1928, 5600, 1000, 1001}
Number of Unique Values: 155

Column: gearbox
Unique Values: {'manuell', 'automatik', nan}
Number of Unique Values: 3

Column: powerPS
Unique Values: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 12510, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 10520, 282, 283, 284, 285, 286, 287, 288, 289, 290, 10522, 292, 2340, 294, 295, 296, 297, 298, 299, 300, 301, 293, 303, 4400, 305, 306, 307, 304, 309, 310, 311, 308, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 2389, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 2402, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 6512, 370, 371, 373, 374, 375, 376, 377, 379, 380, 381, 382, 383, 385, 386, 387, 388, 390, 392, 394, 396, 397, 398, 12684, 400, 401, 402, 399, 404, 405, 407, 408, 409, 411, 4507, 2461, 415, 416, 417, 420, 421, 423, 424, 425, 426, 428, 430, 431, 432, 434, 435, 436, 439, 440, 441, 442, 443, 445, 449, 450, 453, 454, 455, 457, 459, 460, 462, 466, 468, 10710, 470, 473, 475, 476, 477, 480, 481, 483, 485, 487, 489, 490, 492, 495, 500, 501, 502, 504, 505, 506, 507, 508, 510, 513, 514, 515, 517, 518, 519, 520, 521, 525, 528, 529, 530, 532, 540, 541, 544, 545, 547, 549, 550, 551, 2598, 553, 555, 557, 559, 560, 564, 570, 571, 572, 574, 575, 579, 580, 581, 582, 583, 584, 585, 587, 589, 8259, 599, 600, 601, 602, 603, 4700, 6226, 606, 604, 607, 610, 612, 619, 620, 625, 17011, 629, 630, 631, 632, 17019, 640, 644, 645, 650, 651, 659, 15001, 666, 670, 671, 10912, 672, 674, 10910, 676, 678, 10311, 15016, 2729, 680, 15017, 15020, 685, 682, 2172, 696, 15033, 700, 702, 703, 704, 10317, 721, 732, 740, 2789, 743, 2792, 748, 750, 751, 2799, 754, 771, 11011, 6920, 19208, 776, 19211, 780, 11025, 799, 800, 801, 805, 808, 9000, 9007, 9010, 9011, 9012, 9013, 2200, 2201, 850, 851, 871, 11111, 19312, 888, 900, 901, 902, 903, 5000, 907, 909, 923, 17322, 950, 952, 953, 3000, 960, 963, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1011, 1012, 1016, 1017, 1021, 1024, 17410, 1054, 1055, 1056, 1062, 1079, 1082, 1090, 3144, 1100, 1102, 1103, 1105, 1111, 1115, 1120, 1149, 3199, 1151, 229, 1158, 1160, 1162, 1164, 1199, 1200, 1202, 1221, 1223, 1230, 1239, 1240, 1241, 1250, 1252, 1256, 11509, 1275, 1288, 11530, 1299, 1300, 1312, 5411, 17700, 1317, 8404, 5420, 1324, 13616, 1339, 13636, 1351, 1360, 1362, 1363, 7508, 1367, 7512, 7511, 7515, 7518, 11620, 7529, 1390, 1394, 11635, 1398, 1399, 1400, 7544, 1401, 1403, 1405, 3454, 281, 1416, 1432, 1433, 1436, 3500, 5575, 2331, 1500, 1501, 1502, 1503, 1506, 12512, 9710, 1521, 17932, 1548, 20000, 312, 1595, 1596, 1597, 1598, 1600, 1625, 1631, 1653, 1659, 16011, 1689, 1700, 1701, 3750, 1703, 1704, 1707, 5809, 16051, 5815, 14009, 1753, 5867, 12012, 1771, 1779, 1780, 1781, 1783, 356, 1793, 1796, 1799, 1800, 1801, 8500, 9999, 10000, 8011, 1870, 1895, 1896, 1900, 1910, 6006, 6010, 6011, 6012, 10110, 1920, 6018, 1922, 1933, 1937, 6045, 6062, 1968, 16311, 16312, 1986, 1988, 1992, 1993, 1995, 1998, 1999, 2000, 2004, 2005, 2007, 2009, 2016, 2017, 2018, 10218}
Number of Unique Values: 794

Column: model
Unique Values: {'147', 'impreza', '850', 'voyager', 'ibiza', 'meriva', '900', 'spark', 'jetta', 'corsa', 'fortwo', 'octavia', '7er', 'move', 'cayenne', 'laguna', 'g_klasse', '2_reihe', 'carnival', 'primera', 'agila', 'c3', 'up', 'kaefer', 'nubira', 'megane', '90', 'lanos', 'roadster', 'c2', 'crossfire', 'sl', 'kappa', 'eos', 's_klasse', 'tucson', 'ptcruiser', 's_max', 'mondeo', '6_reihe', 'espace', '911', 'colt', '5er', 'matiz', 'a8', 'cr_reihe', 'scenic', 'rangerover', 'justy', 'a6', 'mustang', 'phaeton', 'micra', 'aveo', '6er', 'santa', 'galant', 'amarok', 'v50', 'lybra', 'terios', 'materia', 'x_type', 'spider', nan, 'fox', '300c', 'note', 'kuga', 'a2', 'serie_3', 'cherokee', 'cx_reihe', 'clk', 'jazz', 'boxster', 'andere', 'freelander', 'doblo', 'tt', 'leon', 'a5', 'legacy', 'lodgy', 'bravo', 'q7', 'e_klasse', 'c_reihe', 'touareg', 'sprinter', 'delta', 'kadett', 'omega', 'polo', 'juke', '100', 'cordoba', 'passat', 'm_klasse', 'clubman', 'cuore', 'vivaro', 'a3', 'jimny', 'navara', 'c4', 'alhambra', '5_reihe', 'golf', 'c1', 'lancer', 'exeo', 'range_rover_sport', 'charade', 'serie_2', 'astra', 'vectra', 'musa', 'avensis', 's_type', 'ka', 'v70', 'pajero', 'ceed', 'forfour', 'sirion', 'captiva', 'i3', 'rav', 'touran', 'slk', 'zafira', 'logan', 'scirocco', 'signum', 'beetle', 'corolla', 'tigra', 'x_reihe', 'qashqai', '1_reihe', 'citigo', 'sorento', 'outlander', 'twingo', 'altea', 'yaris', 'caddy', 'arosa', 'grand', 'galaxy', 'panda', 'q5', '3_reihe', 'c5', 'b_max', 'sharan', 'rio', '9000', '500', 'x_trail', 'kangoo', 'focus', 'transit', 'elefantino', 'discovery_sport', 'gl', 'wrangler', 'sandero', '200', 'escort', 'duster', '159', 'transporter', 'c_max', 'niva', '80', 'defender', 'yeti', 'stilo', 'serie_1', 'xc_reihe', 'insignia', '1er', 'roomster', 'accord', 'getz', '156', 'viano', 'm_reihe', 'cc', '145', 'croma', 'auris', 'combo', 'modus', 'c_klasse', '3er', 'verso', 'calibra', 'cooper', 'toledo', 'a1', 'aygo', 'range_rover_evoque', 'fabia', 'cl', '601', 'b_klasse', 'z_reihe', 'i_reihe', 'rx_reihe', '4_reihe', 'civic', 'samara', 'kalina', 'lupo', 'clio', 'r19', 'berlingo', 'tiguan', 'fusion', 'bora', 'v40', 'mii', 'v_klasse', 'one', 'a4', 'v60', 'vito', 'carisma', 'glk', 'ducato', 'kalos', 'forester', 'swift', 's60', 'a_klasse', 'fiesta', 'punto', 'seicento', 'mx_reihe', 'q3', 'antara', 'ypsilon', 'discovery', 'range_rover', 'sportage', 'almera', 'picanto', 'superb'}
Number of Unique Values: 252

Column: kilometer
Unique Values: {40000, 100000, 60000, 20000, 80000, 125000, 5000, 150000, 30000, 90000, 70000, 50000, 10000}
Number of Unique Values: 13

Column: monthOfRegistration
Unique Values: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Number of Unique Values: 13

Column: fuelType
Unique Values: {'diesel', nan, 'cng', 'benzin', 'lpg', 'andere', 'hybrid', 'elektro'}
Number of Unique Values: 8

Column: brand
Unique Values: {'rover', 'daewoo', 'lancia', 'mitsubishi', 'peugeot', 'citroen', 'honda', 'hyundai', 'smart', 'land_rover', 'volkswagen', 'opel', 'sonstige_autos', 'kia', 'seat', 'lada', 'ford', 'volvo', 'trabant', 'skoda', 'bmw', 'jaguar', 'mercedes_benz', 'alfa_romeo', 'fiat', 'toyota', 'saab', 'nissan', 'suzuki', 'daihatsu', 'dacia', 'subaru', 'mini', 'chevrolet', 'renault', 'mazda', 'porsche', 'chrysler', 'jeep', 'audi'}
Number of Unique Values: 40

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

### **Data Cleaning**

In [47]:
#duplicate check
print('Shape: ', data.shape, '\n')
data.duplicated().sum()

Shape:  (371528, 20)

4

In [48]:
#removing duplicate
data=data[~data.duplicated()]
print('Shape: ', data.shape, '\n')
print('Columns: ', data.columns.tolist(), '\n')
data.head()

Shape:  (371524, 20)

Columns:  ['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen']

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [49]:
# Mapping old column names to new column names
column_mapping = {
    'dateCrawled': 'DateTime',
    'name': 'Car Name',
    'seller': 'Seller',
    'offerType': 'Offer Type',
    'price': 'Price',
    'abtest': 'AB Test',
    'vehicleType': 'Vehicle Type',
    'yearOfRegistration': 'Year of Registration',
    'gearbox': 'Gearbox',
    'powerPS': 'Power PS',
    'model': 'Model',
    'kilometer': 'Kilometer',
    'monthOfRegistration': 'Month of Registration',
    'fuelType': 'Fuel Type',
    'brand': 'Brand',
    'notRepairedDamage': 'Not Repaired Damage',
    'dateCreated': 'Date Created',
    'nrOfPictures': 'Pictures',
    'postalCode': 'Postal Code',
    'lastSeen': 'Last Seen'
}

# Rename columns using the mapping
data.rename(columns=column_mapping, inplace=True)

print('Shape: ', data.shape, '\n')
print('Columns: ', data.columns.tolist(), '\n')

Shape:  (371524, 20)

Columns:  ['DateTime', 'Car Name', 'Seller', 'Offer Type', 'Price', 'AB Test', 'Vehicle Type', 'Year of Registration', 'Gearbox', 'Power PS', 'Model', 'Kilometer', 'Month of Registration', 'Fuel Type', 'Brand', 'Not Repaired Damage', 'Date Created', 'Pictures', 'Postal Code', 'Last Seen']

In [50]:
data.drop(columns=['Pictures', 'Postal Code', 'Last Seen'], inplace=True)

In [51]:
# Splitting date and time into two columns
data[['Date', 'Time']] = data['DateTime'].str.split(' ', 1, expand=True)

# Dropping the original datetime column if needed
data.drop(columns=['DateTime'], inplace=True)

print('Shape: ', data.shape, '\n')
print('Columns: ', data.columns.tolist(), '\n')

<ipython-input-51-1225b0d810b3>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data[['Date', 'Time']] = data['DateTime'].str.split(' ', 1, expand=True)

Shape:  (371524, 18)

Columns:  ['Car Name', 'Seller', 'Offer Type', 'Price', 'AB Test', 'Vehicle Type', 'Year of Registration', 'Gearbox', 'Power PS', 'Model', 'Kilometer', 'Month of Registration', 'Fuel Type', 'Brand', 'Not Repaired Damage', 'Date Created', 'Date', 'Time']

In [52]:
data = data.apply(lambda x: x.str.title().str.replace('_', ' ') if x.dtype == "object" else x)
data.head()

,Car Name,Seller,Offer Type,Price,AB Test,Vehicle Type,Year of Registration,Gearbox,Power PS,Model,Kilometer,Month of Registration,Fuel Type,Brand,Not Repaired Damage,Date Created,Date,Time
0,Golf 3 1.6,Privat,Angebot,480,Test,NaN,1993,Manuell,0,Golf,150000,0,Benzin,Volkswagen,NaN,2016-03-24 00:00:00,2016-03-24,11:52:17
1,A5 Sportback 2.7 Tdi,Privat,Angebot,18300,Test,Coupe,2011,Manuell,190,NaN,125000,5,Diesel,Audi,Ja,2016-03-24 00:00:00,2016-03-24,10:58:45
2,"Jeep Grand Cherokee ""Overland""",Privat,Angebot,9800,Test,Suv,2004,Automatik,163,Grand,125000,8,Diesel,Jeep,NaN,2016-03-14 00:00:00,2016-03-14,12:52:21
3,Golf 4 1 4 3Türer,Privat,Angebot,1500,Test,Kleinwagen,2001,Manuell,75,Golf,150000,6,Benzin,Volkswagen,Nein,2016-03-17 00:00:00,2016-03-17,16:54:04
4,Skoda Fabia 1.4 Tdi Pd Classic,Privat,Angebot,3600,Test,Kleinwagen,2008,Manuell,69,Fabia,90000,7,Diesel,Skoda,Nein,2016-03-31 00:00:00,2016-03-31,17:25:20

In [53]:
columns = ['Date', 'Time', 'Car Name', 'Model', 'Vehicle Type', 'Year of Registration',
                   'Month of Registration', 'Seller', 'Offer Type', 'Price', 'AB Test', 'Gearbox',
                   'Power PS', 'Kilometer', 'Fuel Type', 'Brand', 'Not Repaired Damage',
                   'Date Created', 'Pictures', 'Postal Code', 'Last Seen']

# Reorder the columns
data = data.reindex(columns=columns)

# Now you can save the DataFrame to a CSV file
data.to_csv(file, index=False)

print('Data Cleaning and File creation successful..!', file)

Data Cleaning and File creation successful..! /content/drive/MyDrive/Projects/Portfolio/Vehicles/Car leasing/Car Lease data.csv

In [54]:
# Perform garbage collection
gc.collect()
print('Memory cleared..!')

Memory cleared..!